* {
    box-sizing: border-box;
}

body {
    background-image: "https://images.fineartamerica.com/images-medium-large-5/hangmans-noose-on-black-background-peter-dazeley.jpg"
}

#generated-word{
    width: 100%;
    height: 30px;
    position: relative;
    
}

.word-letters {
    position: relative;
    width: 30px;
    display: flex;
    justify-self: left;
    display: inline-block;
    opacity: 0;

}

#scoreboard {
    list-style: none;
}

#dashes {
    position: relative;
    width: 100%;
    height: 30px;
}
.dashes-spacing {
    position: relative;
    width: 30px;
    display: flex;
    justify-self: left;
    display: inline-block;
}