* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url('../images/hangmans-noose-on-black-background-peter-dazeley.jpg');
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#hangman {
    width: 100%;

    display: flex;
    justify-content: center
}

#scoreboard {
    list-style: none;
}

.list {

}

#attempts {

}

#used-letters {

}

#games-won {

}

#games-lost {

}

#generated-word {
    width: 100%;
    height: 30px;
    position: relative;
    
}

.word-letters {
    position: relative;
    width: 30px;
    display: flex;
    justify-self: left;
    display: inline-block;
    opacity: 0;

}

#dashes {
    position: relative;
    width: 100%;
    height: 30px;
}
.dashes-spacing {
    position: relative;
    width: 30px;
    display: flex;
    justify-self: left;
    display: inline-block;
}